.App {
  text-align: center;
  padding: 30px;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Alfa Slab One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: 0;
  padding-top: 20px;
  font-size: 40px;
  font-weight: normal;
}

.footer {
  color: #ccc;
  margin-top: 60px;
}