.App {
  text-align: center;
  padding: 30px;
}

.frame {
  display: inline-block;
  width: 1000px;
  height: 530px;
  position: relative;
}

.left {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 400px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 400px;
  color: #ccc;
}

.right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 400px;
}

h1 {
  font-family: 'Alfa Slab One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: 0;
  padding-top: 20px;
  font-size: 40px;
  font-weight: normal;
}

.activity-chart {
  margin-bottom: 30px;
}

.activity-chart circle {
  fill: transparent;
  stroke: #222;
  stroke-width: 2px;
}

.activity-chart text {
  font-family: Rubik;
}

.activity-chart path,
.activity-chart line {
  stroke: #999;
  stroke-width: 1px;
}
