.App {
  text-align: center;
  padding: 30px;
}

.frame {
  display: inline-block;
  width: 1000px;
  height: 530px;
  position: relative;
}

.left {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 400px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 30px;
  color: #ccc;
}

.right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 400px;
}

h1 {
  font-family: 'Alfa Slab One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: 0;
  padding-top: 20px;
  font-size: 40px;
  font-weight: normal;
}
